/*Sidebar*/
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #292b2f;
    /* Adjust the background color */
    color: #fff;
    padding: 16px;
    box-sizing: border-box;
    float: left;
}

.sidebar-header {
    margin-bottom: 16px;
}

.sidebar-header h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.sidebar-search input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #202225;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.conversations-list {
    overflow-y: auto;
}

.conversation {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.conversation-info {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.conversation-info:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.conversation-info.open {
    background-color: rgba(255, 255, 255, 0.1);
}

.conversation-photo {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
}

.conversation-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conversation-name {
    font-size: 14px;
    font-weight: bold;
}

.conversation-close {
    margin-left: auto;
    font-size: 16px;
    cursor: pointer;
}

/*Chat*/
.chat {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    /* Adjust the width based on the sidebar width */
    height: 100vh;
    background-color: #36393f;
    color: #fff;
    margin-left: 240px;
    /* Add margin to create space for the sidebar */
}

.chat-header {
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-header h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
}

.message {
    margin-bottom: 8px;
}

.message-sender {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.message-content {
    font-size: 14px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-input input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    background-color: #202225;
    color: #fff;
    border-radius: 4px;
    margin-right: 8px;
}

.chat-input button {
    padding: 8px 16px;
    border: none;
    background-color: #7289da;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #5a6f8c;
}